/* Definições gerais */
body {
  background-color: #1d1d1d;
  color: #fdfdfd;
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 4;
  text-align: left; /* Centraliza o conteúdo */
}

/* Estilos dos cabeçalhos */
h1, h2 {
  border-bottom: 3px solid #f56f3d;
  font-size: 30px ;
  text-transform: uppercase ;
}
h1 {
  text-align: center;
}

/* Estilos das listas */
ul {
  list-style: none;
  margin: 30px;
  padding: 0;
  text-align: center;
  width: 1000px;
  height: auto;
}

/* Estilos dos itens da lista */
.box {
  margin-bottom: 20px;
  border: 2px solid #f56f3d; /* Muda a borda do item */
  border-top: 100px solid #f56f3d;
  border-right: auto;
  padding: 10px;
  border-radius: 30px;
}

/* Estilos das imagens */
img {
  display: inline-flex;
  width: 350px;
  height:450px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: auto;
}
 

/* Estilos para telas de até 600px */
@media (max-width: 600px) {
  /* Centraliza as imagens */
  img {
    margin: 0 auto 10px;
  }
  
  /* Aumenta a fonte dos cabeçalhos */
  h1, h2 {
    font-size: 24px;
  }
}

/* Estilos para telas de 601px a 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* Reduz o espaçamento entre os itens da lista */
  li {
    margin-bottom: 10px;
  }
}